:root {
    --primary-color: #006B3C;
    --secondary-color: #FDCC0D;
    --font-size: 16px;
}   
.bg-body-primary {
    background-color: var(--primary-color) !important;
}
.no-border {
    border: none !important;
}
/* .card {
    width: 50%;
} */
/* 
#wer {
    width: 40%;
} */